.about {
  display: flex;
  width: 100%;
}

.about-right {
  flex: 1;
  background:
    linear-gradient(rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    url('/profile.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-left {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}


.about-me{
  padding: 60px;
}

.personal-details {
  width: 100%;
  background-color: #444;
  color: #ffffff;
  padding: 30px 60px;   
  display: flex;
  flex-direction: column;
  gap: 15px;           
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 12px;           
  font-size: 15px;
}

.detail-item svg {
  flex-shrink: 0;
}

.tag {
  letter-spacing: 5px;
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
}

.about-content h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: black;
  display: block;
  margin-top: 8px;
}

.about-content p {
  line-height: 1.8;
  color: #444;
  margin-bottom: 15px;
}

.about-content button {
  margin-top: 20px;
  padding: 10px 25px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-content button:hover {
  background: black;
  color: white;
}

.details {
  background-color: #444;
  color: white;
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column;
  }

  .about-left,
  .about-right {
    width: 100%;
    flex: none;
  }

  .about-right {
    height: 400px; /* control image height */
  }

 
}

/* ✅ MOBILE */
@media (max-width: 768px) {
  .about-right {
    height: 300px;
  }

  .about-content h2 {
    font-size: 28px;
  }

  .about-content p {
    font-size: 14px;
  }

  .about-content {
    max-width: 100%;
  }
}